################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/TDX_proj/v17/Browse.VC.opendb
/.vs/TDX_proj/v17/Browse.VC.db
/.vs/TDX_proj/v17/Browse.VC.db-shm
/.vs/TDX_proj/v17
