<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbbD07Ffl3xQI0sQWQghDoNj2KiwISVug</string>
	<key>GCM_SENDER_ID</key>
	<string>708070786763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdsc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gdsc-406014</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-406014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708070786763:ios:a84ca64a4be3615994bd4e</string>
	<key>DATABASE_URL</key>
	<string>https://gdsc-406014-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>